.idea
frontend/node_modules
frontend/idea
# Coverage directory used by tools like istanbul
frontend/coverage
frontend/build/Release
frontend/jspm_packages
frontend/typings
frontend/.npm
frontend/.node_repl_history
frontend/dist
frontend/.DS_Store
frontend/yarn-error.log


backend/db.sqlite3
backend/db.sqlite3-journal
backend/docs/_build/
backend/target/
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/virtualenv
backend/.virtualenv
backend/.idea
backend/.pyre/
backend/BeelineTask/settings/settings_local.py
